[submodule "extras/tinyusb"]
	path = extras/tinyusb
	url = git@github.com:bcmi-labs/tinyusb.git

[submodule "extras/protobuf-c"]
	path = extras/protobuf-c
	url = git@github.com:protobuf-c/protobuf-c.git
