[submodule "extras/tinyusb"]
	path = extras/tinyusb
	url = https://github.com/arduino/tinyusb
[submodule "extras/uno-r4-wifi-usb-bridge"]
	path = extras/uno-r4-wifi-usb-bridge
	url = https://github.com/arduino/uno-r4-wifi-usb-bridge
[submodule "extras/fsp"]
	path = extras/fsp
	url = https://github.com/arduino/fsp
[submodule "extras/protobuf-c"]
	path = extras/protobuf-c
	url = https://github.com/protobuf-c/protobuf-c
[submodule "extras/tls/mbedtls"]
	path = extras/tls/mbedtls
	url = https://github.com/bcmi-labs/mbedtls
[submodule "extras/net/lwip"]
	path = extras/net/lwip
	url = https://git.savannah.nongnu.org/git/lwip.git
[submodule "libraries/WiFi/extra/esptool"]
	path = libraries/WiFi/extra/esptool
	url = https://github.com/espressif/esptool.git
